@import 'mixins';
@import 'vars';
@import 'vendor/reset';

html {
  font-size: 20x;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: $black;

  &._lock {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Blocks */
@import 'blocks/nav';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/burger';
@import 'blocks/main';
@import 'blocks/container';
@import 'blocks/btn';
@import 'blocks/intro';
@import 'blocks/hwt';
@import 'blocks/about';
@import 'blocks/product';
@import 'blocks/modal';
@import 'blocks/title';
