.intro {
  padding: 245px 0 175px;
  min-height: 895px;

  position: relative;

  @include breakpoint(768px) {
    padding: 130px 0 60px;

    min-height: unset;
  }
}

.intro__inner {
  max-width: 440px;
}

.intro__title {
  margin-bottom: 30px;
}

.intro__text {
  line-height: 29px;

  margin-bottom: 53px;

  @include breakpoint(768px) {
    line-height: 24px;

    margin-bottom: 33px;
  }
  @include breakpoint(480px) {
    line-height: 20px;
  }
}

.intro__img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(250, 241, 229);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint(1100px) {
      opacity: 0.4;
    }
  }
}
