.product {
  padding: 120px 0 242px;

  @include breakpoint(600px) {
    padding: 60px 0 120px;
  }
}

.product__block {
  flex: 1 1 50%;

  &-subtitle {
    font-family: Lato;
    font-size: 25px;
    font-weight: 600;
    line-height: 39px;

    color: #424242;

    margin-bottom: 10px;
  }

  &-title {
    margin-bottom: 20px;
  }

  &-text {
    font-size: 20px;
    line-height: 31px;

    color: #484848;

    margin-bottom: 40px;

    @include breakpoint(1360px) {
      font-size: 18px;
      line-height: 26px;
    }
    @include breakpoint(768px) {
      font-size: 18px;
      line-height: 24px;
    }
    @include breakpoint(480px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  @include breakpoint(1100px) {
    max-width: 78%;
    width: 100%;
    text-align: center;

    margin-bottom: 50px;
  }
}

.product__img {
  position: relative;

  margin-right: 86px;
  object-fit: cover;

  max-width: 638px;

  & img {
    max-width: 100%;

    border-radius: 18px;
  }

  &-modal {
    padding: 30px 60px;

    position: absolute;
    bottom: -75px;
    left: -60px;

    max-width: 100%;

    background-color: #fff;
    border-radius: 4px;
    text-align: center;

    filter: drop-shadow(0px 3.6px 18px rgba(165, 165, 165, 0.25));

    @include breakpoint(805px) {
      left: 50%;
      transform: translateX(-50%);
      bottom: unset;
      top: 80%;
    }
    @include breakpoint(805px) {
      position: static;

      padding: 20px 40px;
      margin: -30% auto 0 auto;

      max-width: 60%;

      transform: unset;
    }
  }

  @include breakpoint(1507px) {
    margin-left: 60px;
  }
  @include breakpoint(1100px) {
    margin: 0;
  }
}
