.title {
  font-family: Georgia;
  font-size: 50px;
  font-weight: 700;
  line-height: 79px;

  color: $primary;

  &--intro {
    font-size: 65px;
    line-height: 74px;
  }

  &--hwt {
    line-height: 78px;
  }

  &--white {
    color: #fff;
  }

  &--black {
    color: $black;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
  }

  @include breakpoint(1360px) {
    font-size: 40px;
    line-height: 60px;

    &--intro {
      font-size: 65px;
      line-height: 74px;
    }
    &--hwt {
      font-size: 50px;
    }
    &--black {
      color: $black;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
    }
  }
  @include breakpoint(768px) {
    font-size: 36px;
    line-height: 50px;

    &--intro {
      font-size: 45px;
      line-height: 60px;
    }
    &--hwt {
      line-height: 60px;
    }
    &--black {
      color: $black;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
    }
  }
  @include breakpoint(480px) {
    font-size: 30px;
    line-height: 40px;

    &--intro {
      font-size: 35px;
    }
    &--black {
      color: $black;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
    }
  }
}
