<footer class="footer">
  <div class="container--footer__top">
    <div class="container">
      <div class="footer__top">
        <div class="footer__logo">
          <img src="assets/images/footer-logo.svg" alt="footer-logo" class="footer__logo-img" />
        </div>

        <nav class="nav nav--footer">
          <a data-goto=".how-it-works" class="nav__link nav__link--footer">How it works</a>
          <a data-goto=".about" class="nav__link nav__link--footer">About</a>
          <a data-goto=".product" class="nav__link nav__link--footer">Product</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container container--footer__copyright">
      <p class="footer__copyright-text">@Copyright text 2022</p>
    </div>
  </div>
</footer>
<!-- footer -->
