<header class="header">
  <div class="container container--header">
    <div class="header__logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </div>

    <nav class="nav">
      <a data-goto=".how-it-works" class="nav__link">How it works</a>
      <a data-goto=".about" class="nav__link">About</a>
      <a data-goto=".product" class="nav__link">Product</a>
    </nav>
    <div class="header__btns">
      <a href="#" class="btn header__btn-item btn--sign">Sign Up</a>
      <a href="#" class="btn header__btn-item btn--sm">Start Trial</a>
    </div>

    <div class="header__menu">
      <div class="header__menu-wrapper">
        <div class="header__logo--mobile">
          <img src="assets/images/logo.svg" alt="logo" />
        </div>
        <nav class="nav--mobile">
          <a data-goto=".how-it-works" class="nav__link nav__link--mobile">How it works</a>
          <a data-goto=".about" class="nav__link nav__link--mobile">About</a>
          <a data-goto=".product" class="nav__link nav__link--mobile">Product</a>
        </nav>
        <div class="header__btns--mobile">
          <a href="#" class="btn header__btn-item header__btn-item--mobile btn--sign">Sign Up</a>
          <a href="#" class="btn header__btn-item header__btn-item--mobile btn--sm">Start Trial</a>
        </div>
      </div>
    </div>

    <div class="header__icon">
      <span></span>
    </div>
  </div>
  <!-- container -->
</header>
<!-- header -->
